html, body, #root, .App {
  --toastify-color-warning: #ffa825;
  /* --toastify-color-warning: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); */
  --toastify-text-color-warning: #111;
  height: 100%;
  overflow: hidden;
  background-color: #ebebed;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chat-fa-icon:hover {
  cursor: pointer;
  color: #666666;
}

.chat-fa-text-chat-icon {
  padding-top: 0.5em;
  border: 1px solid #666;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 50%;
  margin: 0.1em;
  margin-left: 0.1em;
  background-color: #0d6efd;
  background-color: #ccc;
}

.chat-fa-text-chat-icon:hover {
  cursor: pointer;
  background-color: #0d99fd;
  color: white;
}

.chat-fa-text-mic-icon {
  padding-top: 0.5em;
  border: 1px solid #666;
  padding-bottom: 0.5em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border-radius: 50%;
  margin: 0.1em;
  margin-left: 0.1em;
  background-color: #0d6efd;
  background-color: #ccc;
}

.chat-fa-text-mic-icon:hover {
  cursor: pointer;
  background-color: #0d99fd;
  color: white;
}

.chat-fa-text-mic-icon-enabled {
  padding-top: 0.5em;
  border: 1px solid #666;
  padding-bottom: 0.5em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border-radius: 50%;
  margin: 0.1em;
  margin-left: 0.1em;
  background-color: #0d6efd;
  background-color: #ccc;
  animation: glow-grow 2s ease-out infinite;
}

.chat-fa-text-mic-icon-enabled:hover {
  cursor: pointer;
  background-color: #0d99fd;
  color: white;
}

.chat-fa-text-mic-icon-enabled::after {
  animation-delay: .66s;
}

@keyframes glow-grow {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.chat-fa-text-chat-icon-talking {
  z-index: 999;
  padding-top: 1em;
  border: 1px solid black;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 2em;
  border-radius: 5em;
  margin: 0.1em;
  background-color: #238636;
  color: #111111;
}

.scrolling-caption-container {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 2px solid rgb(97, 218, 251, 0.6);
  border-radius: 0.3em;
  background-color: rgb(97, 218, 251, 0.6);
  width: fit-content;
  word-wrap: normal;
  max-width: 75%;
  float: left;
}

.scrolling-caption-container-sender {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 2px solid rgb(97, 218, 97, 0.6);
  border-radius: 0.3em;
  background-color: rgb(97, 218, 97, 0.6);
  width: fit-content;
  word-wrap: normal;
  max-width: 75%;
  float: right;
}

.scrolling-caption-container-sender p {
  padding: 0.2em;
  color:rgb(0, 0, 0);
}

.scrolling-caption-container p {
  padding: 0.2em;
  color:rgb(0, 0, 0);
}

.scrolling-caption-container-sender textarea {
  width: 80%;
  overflow: hidden;
  resize: none;
}

.deleted-word {
  text-decoration-line: line-through;
  -webkit-text-decoration-line: line-through;
  text-decoration-color: #222;
  -webkit-text-decoration-color: #222;
  text-decoration-thickness: 0.1em;
  -webkit-text-decoration-thickness: 0.1em;
  color: #222;
}

.substituted-word {
  font-style: italic;
}

.video-options {
  float: left;
  margin-top: 1em;
  margin-left: 1em;
  position: absolute;
  color: white;
  cursor: pointer;
}

.video-options :hover {
  color: #aaa;
}

.home-screen-buttons-container {
	display: flex;
	align-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	width: max-content;
	gap: 0.5em;
}